*{
/*background-color:lightgray;*/
font-family: sans-serif;
align-items: center;
}

nav{
	margin-bottom: 20px;
	min-height: 50px;
	padding-top:20px;
	 display: flex;
	justify-content: space-between;
	 align-items: center;
}
#name{
	text-align:center;
	margin-top:250px;
	margin-bottom:350px;

}
a{

			text-decoration: none;
			color:pink;
		}

#about{
	position: center ;
	text-align:center;
	margin-bottom:200px ;
}
.contact{
    border: 3px solid pink;
    border-radius:4px;
    width:400px;
    length:400px;
    margin-left:550px;
    padding:10px;
    text-align:center;
}
.text{
	margin-bottom:20px ;
	margin-top:10px;
    length:40px;
}
h1{
	text-align:center;
}
.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
    filter: brightness(60%); 
}
.button{
    padding:10px;
    border-radius:3px;
    background-color:rgb(105, 199, 223);
    color:black;
}
.button:hover{
    background-color:blueviolet;
    color:white;
    cursor: pointer;
}

header, section, footer {
    position: relative;
    z-index: 1;
    color: white;
}
 .skills{
    padding:30px;
    border:4px solid pink;
    border-radius:4px;
    width:800px;
    length:100px;
    display:flex;
    margin-left:300px;
    margin-bottom:200px ;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box{
    border:4px ;
    border-radius:5px;
    width:300px;
    length:300px;
    margin-right:10px ;
    background-color:dimgray;
}
.box2 , .box3{
      width: 300px;
    height: 150px;
    border: 4px solid black;
    border-radius: 5px;
    background-color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#projects {
    display: flex;
    justify-content: center;
    gap: 80px; 
     margin-bottom:200px ;
}